@model IEnumerable<NationalLevelPaper.Models.Event>

@{
    ViewBag.Title = "Home";
  Layout = "~/Views/Shared/FrontEnd.cshtml";
}

@*<div>
    @if(Session["id"] !=null)
    {
      <h1>@Session["name"];</h1>
    }

</div>*@

<div class="about-area pb-25 pt-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2>WELCOME TO <span>KSC Science</span></h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness</p>
                    <p class="hidden-sm">I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was born and I will give you a complete account of the system</p>
                    @*<a class="default-btn" href="about.html">view courses</a>*@
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="/templates/eduhome/img/about/sci.jpeg" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="/templates/eduhome/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-event mb-35">
                        <div class="event-img">
                            <a href="event-details.html"><img src="~/uploading/@item.Image" alt="event" style="height:210px; width:200px;"></a>
                        </div>
                        <div class="event-content text-left">
                            <h3>@item.Date</h3>
                            <h4><a href="event-details.html">@item.Name</a></h4>
                            <ul>
                                <li><i class="fa fa-user"> @item.Spearker</i></li>
                                <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                            </ul>
                            <div class="event-content-right">
                                @*<a class="default-btn" href="event-details.html">join now</a>*@

                                @*@Html.ActionLink("Event Detail","EventDetail", "Events", new {@class= "default-btn" })*@
                            
                                
                                <a href="@Url.Action("EventDetail", "Events", new { id = item.Id })">Details</a>
                            
                            </div>
                        </div>
                    </div>
                </div>

            }
             </div>
          
    </div>
</div>

<h1 style="text-align:center; font-size:40px; ">Winners</h1>
@*winner area:*@

<div class="container-fluid">
    <div class="row">
        @foreach (var item in ViewBag.show)
        {

            @*<div class="col-md-2"></div>*@
    <div class="col-md-4" style="border:1px solid;">
        <label>UserName</label>
        <h1>@item.User.Name</h1>
        <label>Event Name</label> <h1>@item.Name</h1>
        


    </div>

        }       
            

    </div>
</div>
@* end Winner Area:*@


@*@* notice area *@

@* subscriber *@

<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>subscribe our newsletter</h2>
                    <p>I must explain to you how all this mistaken idea </p>
                </div>
                <div class="newsletter-form mc_embed_signup">

@using (Html.BeginForm()) { 
                    
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input type="email" value="" name="email" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" required="">
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>subscribe</span></button>
                        
                        </div>
    
}
                    <div>
                        @if (ViewBag.error != null)
                        {
                            <p>@ViewBag.error</p>
                        }
                    </div>

                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>

